@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
:root {
  --toggler-width: 15%;
  --toggler-height: 100vh;
  --toggler-bg-color: rgb(252, 205, 36);
  --toggler-active-bg-color: #151515;
  --menu-starting-top: 0px;
  --menu-ending-top: 0px;
  --menu-width: 100%;
  --menu-height: 100vh;
  --menu-bg-color: aquamarine;
  --fade-from-color: transparent;
  --fade-to-color: black;
  --timeout: 350ms;
  --toggler2-width: 15%;
  --toggler2-height: 100vh;
  --toggler2-bg-color: rgb(252, 205, 36);
  --toggler2-active-bg-color: #08853c;
  --menu2-starting-top: 0px;
  --menu2-ending-top: 0px;
  --menu2-width: 100%;
  --menu2-height: 100vh;
  --menu2-bg-color: aquamarine;
  /* --fade-from-color: transparent;
    --fade-to-color: black;
    --timeout: 350ms; */
}

.landingContainer {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background: #151515;
  height: 100vh;
  overflow: hidden;
}

.register-title {
  text-orientation: upright;
  writing-mode: vertical-lr;
  transition: 0.7s;
}

.register-title--active {
  text-orientation: none;
  writing-mode: horizontal-tb;
  transition: 0.7s;
  color: #fafafa;

}

.register-arrow {
  display: none;
}

.register-arrow--active {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  height: 70%;
  width: auto;
}

.login-title {
  text-orientation: upright;
  writing-mode: vertical-lr;
  transition: 0.7s;
}

.login-title--active {
  text-orientation: none;
  writing-mode: horizontal-tb;
  transition: 0.7s;
  color: #fafafa;
}

.login-arrow {
  display: none;
}

.login-arrow--active {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  height: 70%;
  width: auto;
  transform: rotate(180deg)
}

.toggler {
  position: absolute;
  left: 0;
  z-index: 2;
  width: var(--toggler-width);
  height: var(--toggler-height);
  background-color: var(--toggler-bg-color);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 350ms;
  transition: 1s;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.toggler--active {
  background-color: var(--toggler-active-bg-color);
  position: absolute;
  top: 0;
  height: 10vh;
  width: 75%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.toggler2 {
  position: absolute;
  right: 0;
  z-index: 2;
  width: var(--toggler-width);
  height: var(--toggler-height);
  background-color: var(--toggler-bg-color);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 350ms;
  transition: 1s;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.toggler2--active {
  background-color: var(--toggler-active-bg-color);
  position: absolute;
  top: 0;
  height: 10vh;
  width: 75%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: var(--menu-ending-top);
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  width: var(--menu-width);
  padding: 0 20px;
  overflow: hidden;
  background-color: var(--menu-bg-color);
  border-radius: 5px;
  overflow-y: scroll;
}

.menu2 {
  position: absolute;
  top: var(--menu-ending-top);
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  width: var(--menu-width);
  padding: 0 20px;
  overflow: hidden;
  background-color: var(--menu-bg-color);
  border-radius: 5px;
}

.list {
  padding-right: 15%;
  padding-top: 25%;
  list-style-type: none;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list2 {
  padding-left: 15%;
  padding-top: 25%;
  list-style-type: none;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list-item {
  padding: 5px 0;
}

/* ----------------------REGISTER ANIMATION CLASSES------------------------*/

.display-enter {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
  transform: translateX(-100vw);
  transition: 1s;
}

.display-enter-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  /* transition: all var(--timeout); */
  transform: translateX(0);
  transition: 1s;
}

.display-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transform: translateX(0);
  transition: 1s;
}

.display-exit-active {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
  transform: translateX(-100vw);
  transition: 1s;
}

/* ----------------------LOGIN ANIMATION CLASSES------------------------*/

.display2-enter {
  top: var(--menu2-starting-top);
  width: var(--toggler2-width);
  max-height: var(--toggler2-height);
  color: var(--fade-from-color);
  background-color: var(--toggler2-bg-color);
  transform: translateX(100vw);
  transition: 1s;
}

.display2-enter-active {
  top: var(--menu2-ending-top);
  width: var(--menu2-width);
  max-height: var(--menu2-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu2-bg-color);
  /* transition: all var(--timeout); */
  transform: translateX(0);
  transition: 1s;
}

.display2-exit {
  top: var(--menu2-ending-top);
  width: var(--menu2-width);
  max-height: var(--menu2-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu2-bg-color);
  transform: translateX(0);
  transition: 1s;
}

.display2-exit-active {
  top: var(--menu2-starting-top);
  width: var(--toggler2-width);
  max-height: var(--toggler2-height);
  color: var(--fade-from-color);
  background-color: var(--menu2-bg-color);
  transition: all var(--timeout);
  transform: translateX(100vw);
  transition: 1s;
}

/*--------------------------ABOUT YOU---------------------------------*/

.about-you-container {
  padding-right: 15%;
  height: 100vh;
  margin-top: 15vh;
}

.about-you-title {
  padding-top: 15vh;
}

.about-you-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gender-form {
  display: flex;
  margin-bottom: 4%;
}

.about-you-form-textarea {
  width: 75%;
  height: 15vh;
  margin-bottom: 4%;
}

.about-you-form-input {
  margin-bottom: 4%;
}

/*-------------------------SELECT INTERESTS----------------------------*/

.select-interests-container {
  padding-right: 15%;
  height: 100vh;
  margin-top: 15vh;
}

.select-interests-title {
  padding-top: 15vh;
}

.select-interests-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}