#arc_box {
    height: 15%;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
}

#timer_arc {
    border: 3px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
    /* background: white; */
    height: 60px;
    width: 60px;
}

.questions-answers {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questions-answers button {
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2%;
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}