.my-message {
    width: 14em;
    margin: auto;
    background: rgb(133, 46, 221);
    padding: auto;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: relative;
    left: 14vw;
    top: 3vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    background: rgb(148, 164, 255);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(148, 173, 255, 0.781);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.message {
    width: 14em;
    margin: auto;
    padding: auto;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: relative;
    right: 14vw;
    top: 3vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    background: rgb(204, 204, 204);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.user {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    // border:1px solid red;
}

.non-user {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
    // border:1px solid yellow
}

.img {
    border-radius: 49.9%;
    border: 3px solid transparent;
    height: 40px;
    width: 40px;
    position: relative;
    top: 1vh;
    left: 4vw;
}

.my-img {
    border-radius: 49.9%;
    border: 3px solid transparent;
    height: 40px;
    width: 40px;
    position: relative;
    top: 1vh;
    right: 4vw;
}

.name {
    color: black;
    position: relative;
    left: 2vw;
    top: 1.3vh
}

.my-name {
    color: black;
    position: relative;
    right: 2vw;
    top: 1.3vw;
}

.message-wrappa {
    height: 100vh;
    -webkit-animation: color-change-4x 7s linear infinite alternate both;
    animation: color-change-4x 7s linear infinite alternate both;
    box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
    // background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: top;
}

.message-wrappa>img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -11px 11px 21px 3px rgba(0, 0, 0, 0.75);
    border: 2px solid #fafafa
}