.my-message {
    width: 8em;
    margin: 50px auto;
    background: red;
    padding: 12px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
    left:26vw;
    bottom:2vh;
    border-radius: 52em;
    display: flex;
    justify-content: center;
    
}

.message {
    width: 8em;
    margin: 50px auto;
    background: blue;
    padding: 12px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
    right:26vw;
    bottom:2vh;
    border-radius: 52em;
    display: flex;
    justify-content: center;
}

.user{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.non-user{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.img {
    border-radius: 49.9%;
    border: 3px solid transparent;
    height: 40px;
    width: 40px;
}